@using FinalProject.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="~/assets/img/logo.ico" alt="">
                                <span class="d-none d-lg-block">OTONOM</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>

                                <form method="post">
                                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                    <div class="col-12">
                                        <label asp-for="UserName"></label>
                                        <input asp-for="UserName" class="form-control" id="yourEmail" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>

                                    </div>
                                    <div class="col-12">
                                        <label asp-for="Phone"></label>
                                        <input asp-for="Phone" class="form-control" id="yourEmail" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>

                                    </div>

                                    <div class="col-12">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" id="yourEmail" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    @*<div class="col-12">
                                            <label for="yourUsername" class="form-label">Username</label>
                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend"></span>
                                                <input type="text" name="username" class="form-control" id="yourUsername" required>
                                                <div class="invalid-feedback">Please choose a username.</div>
                                            </div>
                                        </div>*@

                                    <div class="col-12">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="form-control" id="yourPassword" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="col-12">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control" id="yourPassword" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <!-- <div class="form-check"> -->
                                        <!-- <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required> -->
                                        <!-- <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label> -->
                                        <!-- <div class="invalid-feedback">You must agree before submitting.</div> -->
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Create Account</button>
                                    </div>

                                </form>

                            </div>
                        </div>

                        <div class="credits">
                            <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main>